.nav-wrapper {
  margin-top: 5%;
  padding: 0px 15px 0px 15px;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.container{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.item{
  height: 300px;
  width: 300px;
  padding-top: 25px;
  border: rgb(231, 9, 76) 3px solid;
  background-color: black;

}

.App{
  text-align: center;
}

img{
  padding-top: 5px;
  width: 100%;
}
