body{
  background-color: rgb(169, 218, 230);
}

.nav-wrapper {
  margin-top: 5%;
  padding: 0px 15px 0px 15px;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(231, 9, 76);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.item {
  height: 300px;
  width: 300px;
  padding-top: 25px;
  border: rgb(231, 9, 76) 3px solid;
  background-color: black;
  box-shadow: 0px 10px 10px black;
}

.App {
  text-align: center;
}

img {
  padding-top: 5px;
  width: 100%;
}

.textStyling{
  text-shadow: 2px 2px rgb(184, 172, 172);
}
/* .serviceTextStyling{
  text-shadow: 2px 2px black;
} */
.contactform {
  width: 700px;
  margin-left: 23%;
  box-shadow: 0px 10px 10px gray;
  background-color: white;
}
.inputArea {
  padding: 50px;
  box-shadow: 0px 10px 10px black;
}

.firstName {
  margin-right: 5px;
}

.email {
  margin-top: 7px;
}

.submit {
  margin-top: 6px;
}
